
.main-content-wrap
{
    padding: 4% 2.5%;
}

.main-content-shop
{
    font-size: 30px;
    font-weight: 400;
    color: var(--light-red);
    opacity: 0.8;
}

.main-content-listing-count
{
    margin-top: 1vh;
    opacity: 0.7;
}

.main-content-item-container
{
    margin-top: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content-item
{
    margin: 0.5vw;
    height: 60vh;
    width: 20vw;
    background-color: var(--light-gray);
    font-weight: 400;
    font-size: 20px;
}

.main-content-item a
{
    text-decoration: none;
    color: black;
}

.item-picture
{
    height: 80%;
}

.item-picture img
{
    height: 98%;
    width: 98%;
    margin: 1%;
}

.item-name
{
    margin: 1%;
}

.item-price
{
    margin: 1%;
}

